@charset "UTF-8";

.container {
    background-color: #CCC;
    height: 500px;
    display: flex;
    flex-direction: row; /* column | row-reverse | column-reverse */
    flex-wrap: nowrap; /* wrap | wrap-reverse */
    flex-flow: row nowrap; /* shorthand: direction, wrap */
    justify-content: start; /*flex-end | center | space-between | space-around*/
    align-items: stretch; /* flex-start | flex-end | center | baseline */
    align-content: flex-start; /* flex-start | flex-end | center | space-between | space-around */
}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    height: 30px;

    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 1;
    flex: 1 1 300px; /* GROW, SHRINK, BASIS */
}

/*.article-1 {
    padding-top: 40px;
    background-color: red;
}*/

.article-1 {flex-shrink: 3;}
.article-2 {align-self: auto;} /* flex-start, flex-end, center */
.article-3 {}
.article-4 {}