@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #05AD9A, #55FAE7);
    background-attachment: fixed;
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #05ad9163;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FA2820;
    text-align: center;
    text-shadow: 1px 1px 2px #fa27206c;
}

h2 {
    color: #47AD28;
}
